<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        width: 600px;
        height: 600px;
        border: 1px solid gray;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{name}} {{surname}}</h1>
      <input v-model="name" />
      <input v-model="surname" />
    </div>
    <script src="./2way.js"></script>
  </body>
</html>
