<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-on:click="a++">Add to a</button>
      <button v-on:click="b++">Add to b</button>
      <p>{{addTo20}}</p>
      <p>{{addTo40}}</p>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          a: 10,
          b: 20,
        },
        computed: {
          addTo20() {
            console.log("Add to 20");
            return this.a + 20;
          },
          addTo40() {
            console.log("Add to 40");
            return this.b + 40;
          },
        },
      });
    </script>
  </body>
</html>
