<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-on:click="error = !error">Toggle Error</button>
      <button v-on:click="success = !success">Toggle Success</button>
      <p v-if="error">Some kind of error message</p>
      <p v-else-if="success">Some kind of success message</p>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          error: false,
          success: false,
        },
      });
    </script>
  </body>
</html>
