<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        width: 600px;
        height: 600px;
        border: 1px solid gray;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p v-if="isEmmited">Updatowane</p>
      <product premium="xd" @add-to-cart="updateCart"></product>
    </div>
    <script>
      Vue.component("product", {
        props: ["premium"],
        template: `
            <div>
                <div>Testowy divek {{ premium }}</div>
                <button @click="emmiting">Emit event from parent</button>
            </div>
        `,
        methods: {
          emmiting() {
            this.$emit("add-to-cart", 123, 546);
          },
        },
      });
      const one = new Vue({
        el: "#app",
        data: {
          title: "App 1",
          isEmmited: false,
        },
        methods: {
          updateCart(param, param2) {
            this.isEmmited = true;
            console.log(param, param2);
          },
        },
      });
    </script>
  </body>
</html>
