<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{surname}}</h1>
      <h2>{{greeting("Marcin")}}</h2>
      <a :href="website">Website</a>
      <input :value="surname" />
      <div v-html="websiteTag"></div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
