<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        width: 600px;
        height: 600px;
        border: 1px solid gray;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>My age is {{age}}</h1>
      <button v-on:click.once="operate(1)">Add a year</button>
      <button v-on:click="operate(-1)">Remove a year</button>
      <button v-on:click="operate(10)">Add a 10 year</button>
      <button v-on:click="operate(-10)">Remove a 10 year</button>
      <div v-on:mousemove="mousemove" class="box">{{x}} {{y}}</div>
    </div>
    <script src="./modifiers.js"></script>
  </body>
</html>
