<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        width: 600px;
        height: 600px;
        border: 1px solid gray;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>{{title}}</h2>
    </div>
    <div id="app2">
      <h2>{{title}}</h2>
    </div>
    <script>
      const one = new Vue({
        el: "#app",
        data: {
          title: "App 1",
        },
      });
      const second = new Vue({
        el: "#app2",
        data: {
          title: "App 2",
        },
      });
    </script>
  </body>
</html>
