<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <style>
      .invisible {
        color: lightgray;
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Todo list</h1>
      <input type="text" v-model="input" />
      <button @click="createTodo">Stwórz todo</button>
      <form @submit.prevent="onSubmit">
        <table border="1">
          <tr v-for="(item, index) in items">
            <td :class="{invisible: !item.isVisible}">{{item.name}}</td>
            <td>
              <input
                :value="item.name"
                type="checkbox"
                v-model="item.isVisible"
              />
            </td>
            <td>
              <p @click="removeItem(index)">Usuń</p>
            </td>
          </tr>
        </table>
        <button>Wyślij</button>
      </form>
    </div>
    <script>
      new Vue({
        el: "#app",
        methods: {
          onSubmit() {
            console.log(JSON.stringify(this.items, undefined, 5));
          },
          removeItem(index) {
            this.items.splice(index, 1);
          },
          createTodo() {
            this.items.push({
              name: this.input,
              isVisible: true,
            });
            this.input = "";
          },
        },
        data: {
          input: "",
          items: [
            {
              name: "Wynieść śmieci",
              isVisible: true,
            },
            {
              name: "Zrobić obiad",
              isVisible: false,
            },
            {
              name: "Odkurzyć obiad",
              isVisible: true,
            },
          ],
        },
      });
    </script>
  </body>
</html>
