<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    {{ $store.state.user.name }}
    <ul>
      <li v-for="(category, index) in categories" :key="index">
        {{ category }}
      </li>
    </ul>
    Length of categories: {{ categoriesLength }}
    <input type="number" v-model.number="incrementBy" />
    <button @click="incrementCount">Increment</button>
    {{ $store.state.count }}
    <button @click="callApi">Test Call</button>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import { mapGetters, mapState } from "vuex";

export default {
  name: "Home",
  data() {
    return {
      incrementBy: 1
    };
  },
  components: {
    HelloWorld
  },
  computed: {
    categoriesLength1() {
      return this.$store.getters.categoriesLength;
    },
    ...mapGetters(["categoriesLength"]),
    ...mapState(["user", "categories"])
  },
  methods: {
    incrementCount() {
      this.$store.commit("INCREMENT", this.incrementBy);
    },
    callApi() {
      this.$store.dispatch("call", "testowo");
    }
  }
};
</script>
